html,
body {
    margin: 0;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::placeholder {
    color: #525252 !important;
    letter-spacing: 0.5px;
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}
