html,
body {
    margin: 0;
    background: #f5f5f5;
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 19.5px;
    --antd-wave-shadow-color: transparent !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::placeholder {
    color: #525252 !important;
    letter-spacing: 0.5px;
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}
